SUPABASE_URL=https://mpcvzbfzpipgggaacyzf.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1wY3Z6YmZ6cGlwZ2dnYWFjeXpmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE4NTgxMywiZXhwIjoyMDg5NzYxODEzfQ.F3kKGyIp9E9O235qhUEEiifFvaB13I3ULtPRDHz2ghE